/* ALL THE KEYFRAMES ARE AT THE BOTTOM *** */

body {
  background-color: rgb(46, 46, 46);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'JetBrains Mono', monospace;

  text-align: center;
  background-image: url(../img/MineSweeperBlur.jpg);
  /* background-image: url(../img/MineSweeper.jpg); */
  /* filter: blur(2px); //how to make it only to background? */
}
.game-container {
  /* width: 700px; */
  /* height: 700px; */
  max-width: 700px;
  min-height: 700px;
  border-radius: 25px;
  background-color: #0784b5eb;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 25px;
  padding-top: 10px;
  box-shadow: -5px 2px 8px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 70px;
  color: rgb(255, 255, 255);
  /* color: rgb(0, 0, 0); */
  margin-bottom: 15px;
  animation: shake 3s infinite;
  font-family: 'Arial Black', Gadget, sans-serif;
  text-shadow: 0px 0px 0 rgb(205, 143, 0), -1px 1px 0 rgb(155, 93, 0), -2px 2px 1px rgba(0, 0, 0, 0.11), -2px 2px 1px rgba(0, 0, 0, 0.5),
    0px 0px 1px rgba(0, 0, 0, 0.2);
}

.timer-container {
  color: whitesmoke;
  font-size: 25px;
  margin-bottom: 20px;
}

.restart-btn {
  cursor: pointer;
  border: 3px solid #9bd4e4;
  font-size: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #39ade7b7;
  border-radius: 50%;
  animation: shake2 3s infinite;
}

.level-btns-container {
  /* padding: 10px; */
  margin-bottom: 20px;
}

.level-btn {
  font-weight: bold;
  color: whitesmoke;
  border: 1px solid rgb(9, 8, 20);
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  background: linear-gradient(#589aad, #4d79a0);
  border-radius: 3px;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'JetBrains Mono', monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.14s, transform 0.15s;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.level-btn:hover {
  background-image: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  text-decoration: none;
}

.level-btn:active {
  background-image: linear-gradient(#3d94d9, #0067b9);
  border-color: #006dbc;
  outline: none;
}

.level-btn:focus {
  box-shadow: rgba(119, 177, 236, 0.5) 0 0 0 3px;
  outline: none;
}

table {
  margin: auto;
}

.cell {
  width: 50px;
  height: 50px;
  font-size: 1.1em;
  border: 1px solid rgb(36, 36, 36);
  background: linear-gradient(rgb(174, 146, 250), rgb(118, 101, 213));
  border-radius: 3px;
}

.canReveal:hover {
  background: linear-gradient(rgb(80, 67, 154), rgb(50, 40, 102));
  cursor: pointer;
}

.shown {
  background: linear-gradient(rgb(163, 242, 131), rgb(138, 211, 109));
}

.clicked-mine {
  background: linear-gradient(rgba(142, 83, 83, 0.9), rgba(216, 163, 163, 0.798));
}

.exploded {
  background: linear-gradient(rgba(116, 66, 66, 0.9), rgba(196, 143, 143, 0.798));
}

.lives-container {
  color: whitesmoke;
  font-size: 20px;
  margin-top: 40px;
  margin-right: 30px;
}

.hints-container {
  margin-left: 30px;
}

.hint-btn {
  background-color: rgba(38, 38, 38, 0);
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 2px;
  margin: 0px 5px;
}

.hint {
  background: linear-gradient(rgb(112, 208, 108), rgb(42, 177, 175));
}

.safe-btn {
    background-color: rgba(38, 38, 38, 0);
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 2px;
    margin: 0px 5px;
  }
}

.hidden {
  display: none;
}

/* ///////////////// */
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(2deg);
  }
  95% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes shake2 {
  0% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(20deg);
  }
  85% {
    transform: rotate(20deg);
  }
  95% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

@keyframes reveal {
  0% {
    filter: brightness(0);
  }
  /* 50% {
    filter: brightness(0.5); */
  /* } */
  100% {
    filter: brightness(1);
  }
}

.pause-button {
  height: 30px;
  width: 150px;
  margin-top: 12px;
  margin-left: 164px;
}

/* //////// */

.button-15 {
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #0077cc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

footer {
  font-size: 25px;
  background-image: linear-gradient(-150deg, #231557 0%, #44107a 40%, #ff1361 67%, #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s ease-in-out infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
